<!DOCTYPE html>
<html>
  <head>
    <title>Organization authenticatoin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body        { padding-top:70px; }
    </style>
  </head>
  <body>
    <img src="<%= user.photos[0].value %>" />
    <p><%= user.id %></p>
    <p><%= user.emails[0].value %></p>
    <p><%= user.displayName %></p>
  </body>
</html>