<h1>Login</h1>
<form action="/login" method="post">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="text" name="password" id="password" required />
  </div>
  <button type="submit">Login</button>
  <a href="/auth/google">Sign in with Google</a>
  <a href="/auth/facebook">Sign in with Facebook</a>
</form>